.header nav ul li a:hover{
	background: #E31559;
	color: white;
}
.header_big{
	background: rgba(227,21,89,0.2);
}
.left h4{
	background: rgba(227,21,89,0.2) ;
}
.left .top ul li p a:hover{
	color: #E31559 ;
}
.new .next,.new .prev{
	background: rgba(227,21,89,0.2) ;
}
.footer_big{
	background: rgba(227,21,89,0.2);
}
.footer_big footer ul{
	border-top: 1px solid #FFFFFF;
    border-bottom: 1px solid #FFFFFF;
}
.jeans .top a{
	background: #E31559;
}
.tabs a{
	background: rgba(0,0,0,0.5);
}
.tabs .bian{
    background: #E31559;
}
.tab .tab_menu li{
	border: 1px solid #E31559;
	background:#FFFFFF; 
}
.pro_detail .pro_detail_left .tab .tab_menu li:hover{
	background: rgba(227,21,89,0.4);
}
.pro_detail_left .tab_menu li.selected { 
	color:#FFF; 
	background:#E31559;
}
.pro_detail .pro_detail_left .tab .tab_box{
	border: 1px solid #E31559;
}
#cart a{
	background: url(../../images/gouwuche_03.png) no-repeat 20px 11px,
	#E31559;
}
.pro_detail .pro_detail_left .jqzoom span a{
	background: url(../../images/detail_fangda.png) no-repeat 7px 7px,
    rgba(227,21,89,0.6);
}