.header nav ul li a:hover{
	background: #FBA60A;
	color: white;
}
.header_big{
	background: rgba(251,166,10,0.2);
}
.left h4{
	background: rgba(251,166,10,0.2) ;
}
.left .top ul li p a:hover{
	color: #FBA60A ;
}
.new .next,.new .prev{
	background: rgba(251,166,10,0.2) ;
}
.footer_big{
	background: rgba(251,166,10,0.2);
}
.footer_big footer ul{
	border-top: 1px solid #7a7a7a;
    border-bottom: 1px solid #7a7a7a;
}
.jeans .top a{
	background: #FBA60A;
}
.tabs a{
	background: rgba(0,0,0,0.5);
}
.tabs .bian{
    background: #FBA60A;
}
.tab .tab_menu li{
	border: 1px solid #FBA60A;
	background:#FFFFFF; 
}
.pro_detail .pro_detail_left .tab .tab_menu li:hover{
	background: rgba(251,166,10,0.4);
}
.pro_detail_left .tab_menu li.selected { 
	color:#FFF; 
	background:#FBA60A;
}
.pro_detail .pro_detail_left .tab .tab_box{
	border: 1px solid #FBA60A;
}
#cart a{
	background: url(../../images/gouwuche_03.png) no-repeat 20px 11px,
	#FBA60A;
}
.pro_detail .pro_detail_left .jqzoom span a{
	background: url(../../images/detail_fangda.png) no-repeat 7px 7px,
    rgba(251,166,10,0.6);
}